.navbarMenuButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 2.1;
}

@media (min-width: 1000px) {
  .navbarMenuButtons {
    justify-content: flex-end;
  }

  .navbarMenuButtons > a:last-of-type {
    margin-left: 0.75rem;
  }
}

@media (max-width: 1000px) {
  .navbarMenuButtons {
    width: 100%;

    justify-content: flex-start;

    padding: 0.8rem 1.5rem;
  }

  .navbarMenuButtons > a:last-of-type {
    margin-left: 0.5rem;
  }
}
