.signup {
  display: flex;

  align-items: center;
  justify-content: center;
}

.signupWrapper {
  width: 80%;
  height: auto;

  margin: 3rem auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.signupWrapper .info {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
}

.signupWrapper .info h1 {
  color: var(--section-title-text);

  font-size: 2em;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);

  text-align: left;
}

.signupWrapper .info .social {
  margin-top: 2rem;
}

.signupWrapper .info .social h3 {
  color: var(--section-subtitle-text);

  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
}

.signupWrapper .info .social .icons {
  display: flex;
  justify-content: flex-start;
}

.signupWrapper .info .social .icons img {
  width: 2rem;
  height: auto;

  margin: 0.5rem 0;
}

.signupWrapper .info .social a:not(:first-of-type) {
  margin-left: 0.5rem;
}

.signupWrapper .form {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.signupWrapper .form form {
  display: flex;
  flex-direction: column;

  width: 60%;
  align-self: flex-end;
}


.signupWrapper .form button {
  padding: 0.75rem 0;
  margin-top: 1rem;
}

.signupWrapper .form p {
  margin-top: 0.5rem;

  font-size: 0.8rem;
}

.signupWrapper .form span a {
  color: var(--primary);

  cursor: pointer;
}

@media (max-width: 1000px) {
  .signupWrapper {
    flex-direction: column;
  }

  .signupWrapper .info h1 {
    text-align: center;
  }

  .signupWrapper .info .social {
    display: none;
  }

  .signupWrapper .form {
    margin-top: 2rem;
    width: 100%;
  }

  .signupWrapper .form form {
    width: 80%;

    align-self: center;
  }
}

@media (max-width: 600px) {
  .signupWrapper .form form {
    width: 100%;
  }

  .signupWrapper .info {
    width: 80%;
  }

  .signupWrapper .info h1 {
    font-size: 1.5em;
  }
}
