.footer {
  width: 100%;
  height: auto;

  margin-top: auto;
  z-index: 9;
}

.footerWrapper {
  width: 100%;
  height: 100%;

  background-color: var(--footer-background);

  padding: 2rem 0;
}

.footerContainer {
  width: 80%;
  height: 100%;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 46% 0% 14% 14% 14% 14%;
}

.footerContainer > * {
  align-self: flex-start;
  margin: 1rem;
}

.footerContainer .active {
  color: var(--primary);
  font-weight: 600;
}

@media (max-width: 1000px) {
  .footerContainer {
    grid-template-columns: 60% 40%;
  }
}

@media (max-width: 600px) {
  .footerContainer {
    grid-template-columns: 100%;
  }

  .footerContainer .placeholder {
    display: none;
  }
}
