.footerColumnMain {
  flex: 2;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-self: center;
}

.footerColumnMain .catchphrase {
  margin-top: 0.25rem;

  color: var(--not-focused);

  font-family: var(--ff-heading);
  font-weight: var(--fw-medium);
}
